<!DOCTYPE html>

<html>

    <head>
    </head>

    <body>
        <h1>
            <%=@article.title%>
        </h1>

        <h2>
            <%=@article.content%>
        </h2>

        <input id="hidden" type="hidden" name="_method" value="PATCH">
    </body>

</html>