<form action="/articles/<%= @articles.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <ul>
        <li>
            <label for="title">New Title</label>
            <input type="text" id="title" name="article[title]" value="<%= @articles.title %>"/>
        </li>
        <li>
            <label for="content">New Content</label>
            <input type="text" id="content" name="article[content]" value="<%= @articles.content %>"/>
        </li>
    </ul>
    <input type="submit"/>
</form>