<!DOCTYPE html>

<html>

    <head>
    </head>

    <body>

        <form action="/articles" method="POST">
            <input id="hidden" type="hidden" name="_method" value="PATCH">
            <label for="title">New Title</label>
            <input type="text" name="title">
            <label for="content">New Content</label>
            <input type="text" name="content">
            <input type="submit">
        </form>
    </body>

</html>