<!DOCTYPE html>

<html>

    <head>
    </head>

    <body>
        <h1>List of Articles</h1>

        <ul>
            <% @articles.each do |article| %>
                <a href=<%="/articles/#{article.id}"%>>
                    <li><%= article.title %> </li> 
                </a>
            <% end %>

        </ul>
    </body>

</html>